<html>
	<head>
		<title>My Graph</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" type="text/css" href="./../public/css/style.css" />
		<link rel="shortcut icon" type="image/png" href="./../public/images/favicon.ico"/>
	</head>
	<body>
		<div class="graph_design_two"></div>
		<div class="get_graph_link_place">
			<a href="/usersGraphData" class="get_graph_link">get users graph</a>
		</div>
		<div class="graph_place">
			<div class="my_graph">
				<div class="my_graph_img_place">
					<img src="./../public/images/my.png" class="graph_img" />
				</div>
				<p class="graph_username">
					<%= username %>
				</p>
			</div>
		</div>
	</body>
</html>